# Gradle files
.gradle/
build/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr

# Специфичные файлы Android Studio
local.properties
captures/
.externalNativeBuild/
.cxx/

# Output artifacts
*.aar
*.jar
*.apk

# OS specific
.DS_Store
Thumbs.db

# Log files
*.log

# Godot specific (на случай, если в этом же репо лежат демки)
.godot/
*.import/
export_presets.cfg
