<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <!-- Явно передаем версию библиотеки для валидатора Google Play Console -->
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="9.1.0" />

        <meta-data
            android:name="org.godotengine.plugin.v2.AndroidIAPP"
            android:value="one.allme.plugin.androidiapp.AndroidIAPP" />
    </application>

</manifest>